{% extends "base.html" %}
{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  {% load static %}
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        {% if product.image %}
          <a href="{{ product.image.url }}" target="_blank">
            <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ product.image.url }}">
          </a>
        {% endif %}
        <div>
          <h5 class="card-title"><span class="price">{{ product.name }}</span></h5>
          <button type="button" class="buy-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Купить</button>
        </div>
        <span class="price">₽{{ product.price }}</span>
                <!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Отправка заявки</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Форма для отправки заявки -->
          <form method="POST" action="{% url 'main:application' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="nameInput" class="form-label">Ваше имя:</label>
              <input type="text" class="form-control" id="nameInput" name="name" required>
            </div>
            <div class="mb-3">
              <label for="emailInput" class="form-label">Электронная почта:</label>
              <input type="email" class="form-control" id="emailInput" name="email" required>
            </div>
            <div class="mb-3">
              <label for="messageInput" class="form-label">Сообщение:</label>
              <textarea class="form-control" id="messageInput" rows="3" name="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
</div>
        <h6 class="card-subtitle mb-2 text-muted">
          <small>
            {% if not product.is_published %}
              <p class="text-danger">Изделие снято с продаж</p>
            {% elif not product.category.is_published %}
              <p class="text-danger">Выбранная категория снята с публикации</p>
            {% endif %}
          </small>
        </h6>
      </div>
    </div>
  </div>
{% endblock %}