/* Основной контейнер */
.product-tile {
    display: inline-block;
    height: 25%;
    width: 25%;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
  }

  .buy-button {
    background-color: #4CAF50; /* Зеленый цвет фона */
    border: none; /* Убираем стандартную рамку */
    color: white; /* Белый цвет текста */
    padding: 15px 32px; /* Поля вокруг текста */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    display: inline-block; /* Размещение кнопки в строке */
    font-size: 16px; /* Размер шрифта */
    margin: 4px 2px; /* Отступы вокруг кнопки */
    cursor: pointer; /* Курсор мыши становится указателем при наведении */
    border-radius: 5px; /* Скругление углов кнопки */
    transition: all 0.3s ease; /* Анимация перехода */
  }
  
  .buy-button:hover {
    background-color: #45a049; /* Темнее зеленый цвет при наведении */
  }
  
  .buy-button:focus {
    outline: none; /* Убираем контур выделения */
  }

  .limited-img {
    max-width: 90%;
    max-height: 250px;
    object-fit: contain;
  }
  .price {
    color: brown; /* Цвет текста */
    font-family: 'Arial', sans-serif; /* Красивый шрифт (можно заменить на любой другой) */
    font-weight: bold; /* Жирность шрифта */
    font-size: 24px; /* Размер шрифта */
  }
  .card {
    border: none;
    box-shadow: none;
  }
  .card .col-md-6.right {
    background-color: #EED9C4; /* Светло-коричневый цвет */
    width: 25%; /* Ограничиваем ширину до 40% от родительского блока */
    border-radius: 10px;
  }